<style>
    #sticky {
        width:100%;
        padding: 20px 20px 16px;
        background:rgba(0, 0, 0, .25);
        color:white;
        font-weight:bold;
        font-size:18px;
        text-align:center;
        position:fixed;    /*Here's what sticks it*/
        bottom:0;          /*to the bottom of the body*/
        left:0;            /*and to the left of the body.*/

        /*EFFECTS*/
        transition:.33s linear;
    }

    #sticky:hover {
        background:black;
    }
</style>
<footer id="sticky">&copy&nbspPXL Programming Advanded: Java CallLog exercise, Created by Jordy Swinnen - 2017</footer>
