<?xml version="1.0" encoding="UTF-8" ?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
    <display-name>CallLogAdvanced</display-name>
    <welcome-file-list>
        <welcome-file>/WEB-INF/views/index.jsp</welcome-file>
    </welcome-file-list>


    <servlet>
        <!--suppress ServletWithoutMappingInspection -->
        <servlet-name>SearchControllerServlet</servlet-name>
        <servlet-class>
            be.pxl.calllog.controllers.SearchControllerServlet;
        </servlet-class>
        <init-param>
            <param-name>url</param-name>
            <param-value>jdbc:mysql://127.0.0.1/CallLogDB?useUnicode=true&amp;useJDBCCompliantTimezoneShift=true&amp;useLegacyDatetimeCode=false&amp;serverTimezone=UTC</param-value>
        </init-param>
        <init-param>
            <param-name>user</param-name>
            <param-value>root</param-value>
        </init-param>
        <init-param>
            <param-name>password</param-name>
            <param-value> </param-value>
        </init-param>
    </servlet>

    <jsp-config>
        <jsp-property-group>
            <description>Header and Footer settings</description>
            <url-pattern>/*</url-pattern>
            <include-prelude>/WEB-INF/views/Header.html</include-prelude>
            <include-coda>/WEB-INF/views/Footer.html</include-coda>
        </jsp-property-group>
    </jsp-config>


</web-app>